$dark-1: #0E1621;
$dark-2: #17212B;
$dark-3: #242F3D;
$dark-4: #768C9E;
$blue: #3498db;
$light: #fff;

$box-shadow: 0 5px 10px rgb(0 0 0 / 50%);

button{
  border: none;
  outline: none;
  background: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}